
.body {
    display: grid;
    background-color: lightblue;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
        'main main main store'
        'main main main seeMoreStores'
        'promos promos coupons coupons';
}
@media only screen and (max-width: 1000px) {
    /* Tablet and Smaller */
  .body {    
  display: flex;
  flex-direction: column;
    background-color: lightblue;
  }
  .card {
      width: 85vw;
  }
}
.main{
     grid-area: main;
     border: 1px black solid;
}
.card {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 10px;
}
.links{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
.links:hover {
    color: black;
}
.store {
    grid-area: store;
    width: auto;
}
#promos{
    grid-area: promos;
    background-color: red;
}
#coupons{
    grid-area: coupons;
    background-color: green;
}
#seeMore{
    grid-area: seeMoreStores;
    height: 50px;
    background-color: blue;
}