
.body {
    display: grid;
    grid-template-areas: 
        'main main main store'
        'main main main seeMoreStores'
        'promos promos coupons coupons';
}
#img-main{
    height: 250px;
}
.main{
     grid-area: main;
     border: 1px black solid;
}
.card {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 10px;
}
.links{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
.links:hover {
    color: black;
}
#promos{
    grid-area: promos;
    background-color: red;
}
#coupons{
    grid-area: coupons;
    background-color: green;
}
#seeMore{
    grid-area: seeMoreStores;
    height: 50px;
    background-color: blue;
}