.storeCard {
    width:350px;
    
  border: 1px solid black;
  }

  #directoryMap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      
    grid-gap: 1rem;
  margin: 25px;
  }

  .rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}