.cardImage { 
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
}
.storeTile{
    display: flex;
    justify-content: center;
    width: 350px;
    min-width: 100px;
    margin: 20px;
    box-shadow: 20px 020px 20px whitesmoke;
  }