.storeFrontImage { 
    width: 95%;
    bottom: 25px;
    align-self: flex-end;
}
.storeTile{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:hover {
      color: blue;
  }
  .storeData{
    height: 100%;
    align-items: flex-end;
    background-color: aquamarine;
    padding: 5px;
  }