.cardImage { 
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
}
.storeTile{
    display: flex;
    justify-content: center;
    width: auto;
    box-shadow: 20px 020px 20px whitesmoke;
  }